*{
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    min-height: 100vh;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.book-grid div {
    background-color: aquamarine;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.create-book-btn {
    padding: 1rem;
}

.form-popup {
    visibility: hidden;
}

.book-detail-popup {
    visibility: hidden;
}

.popup {
    position: absolute;
    display: flex;
}
  
.show {
    visibility: visible;
    -webkit-animation: fadeIn 500ms;
    animation: fadeIn 500ms
}

.popup-content {
    z-index: 1;
    background-color: whitesmoke;
    padding: 2rem;
    min-width: 200px;
    min-height: 200px;
    border: 5px solid #353535;
    border-radius: 6px;
}

.blocker {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}